.home-page {
    
}

.home-wrapper {
    max-width: 55em;
    margin: 0 auto;
}

.home-wrapper .content-text {
    margin: 4em 0 2em 0;
    text-align: center;
}

.content-text .part {
    margin-bottom: 2em;
}

.content-text h3 {
    padding-bottom: 0.5em;
}

.content-text .content-head img {
    margin-top: 2em;
    width: 500px;
    box-shadow: 0 0 10px 0;
}

.content-text .content-about ul {
    display: flex;
    justify-content: space-between;
    margin: 0 5em;
    list-style: none;
    font-size: 50px;
}
