<div class="footer-main">

    <section class="fast-links">
        <div class="title"><strong>Бързи връзки</strong></div>
        <ul>
            <li><a href="{{ site.baseurl }}/">За Нас</a></li>
            <li><a href="{{ site.baseurl }}/services">Услуги</a></li>
            <li><a href="{{ site.baseurl }}/prices">Цени</a></li>
            <li><a href="{{ site.baseurl }}/request-form">Заявка за ремонт</a></li>
            <li><a href="{{ site.baseurl }}/contacts">Контакти</a></li>
        </ul>
    </section>

    <section class="work-time">
        <div class="title"><strong>Работно време</strong></div>
        <ul>
            <li>Пн--Пт: 07:00-13:00</li>
            <li>14:00-19:00</li>
            <li>Събота: 08:00-13:00</li>
            <li>14:00-19:00</li>
            <li>Неделя: 09:00-14:00</li>
            <li>15:00-18:00</li>
        </ul>
    </section>

    <section class="contact-section">
        <div class="title"><strong>Контакти</strong></div>
        <ul>
            <li><i class="fas fa-map-marker-alt"></i>с. Горно Сахране ул. "Васил Левски" 23</li>
            <li><i class="fas fa-mobile-alt"></i>0896 77 21 53 <strong>|</strong> 0896 77 21 52</li>
            <li><i class="fas fa-envelope"></i>liukir2@gmail.com</li>
        </ul>
    </section>

</div>

<div class="footer-end">
    <p> &copy; 2019 <span>{{ site.title }}</span> | Всички права запазени .</p>
    <p>Дизайн: С.Стефанов</p>
</div>