.headForForm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    background-color: rgb(49, 49, 49);
}

.headForForm h2 i {
    margin-left: 1em;
    color: rgb(250, 62, 62);
}