.nav ul {
    display: flex;
}

.nav ul li {
    display: block;
    margin-left: 0.4em;
}

.nav a {
    display: block;
    padding: 0.5em 0.6em;
    color: white;
    text-decoration: none;
    font-size: medium;
}

.nav .current_page a,
.nav ul li a:hover {
    color: white;
    box-shadow: 0 0 2px 2px rgb(255, 81, 81, 0.9);
    background-color: rgba(0, 0, 0, 0.8);
}
