$page-icons-color: rgb(216, 47, 47);

.contacts-wrapper {
    color: rgb(68, 63, 63);
    max-width: 65em;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    padding: 2em;

    h3 {
        padding-bottom: 0.8em;
    }
}


.contacts-worktime {
    display: flex;
    padding: 2em 9em;
    justify-content: space-between;

    ul {
        list-style: none;
    }

    .contacts-inf ul li {
        margin: 0.3em 0;

        i, a {
            width: 25px;
            margin-right: 0.2em;
            color: $page-icons-color;
        }
    }

    .work-time-inf {
        ul li:nth-child(2) { width: 8.5em; text-align: right; }
    }
}


.find-us {
    .how-to {
        padding: 2em 9em;
        
        .find-us-cont img {
            float: right;
            display: block;
            width: 390px;
            height: auto;
            margin-left: 3em;
            padding: 0.4em;
            background-color: rgb(56, 54, 54);
        }
    }

    .look-for {
        margin-top: 5em;
        
        .map {
            width: 100%;
            display: flex;
            justify-content: center;
            border: 2px solid black;
            padding: 0.5em;
            background-color: rgb(100, 98, 98);
            box-shadow: 0 0 10px 0;
        }
    }
}  