.home-wrapper {

    .content-text {
        .part {
            max-width: 57em;
            margin: 0 auto;
            text-align: center;
        }
        .sec1-color {
            background-color: rgb(250, 250, 250);
        }
        .sec2-color {
            background-color: rgb(59, 59, 59);
            color: rgb(233, 233, 233);
        }
        .sec3-color {
            background-color: rgb(250, 250, 250);
        }
        
        h3 {
            padding-bottom: 1.5em;
        }
        .content-head,
        .content-about,
        .content-why {
            padding: 4em 2em;
        }
    }
}

/* content head STRAT */

.content-text .content-head {
    img {
        margin-top: 2em;
        width: 500px;
        box-shadow: 0 0 10px 0;
    }
}

/*content head END */


/* About START */

.content-text {

    .content-about {
        h3 {
            color: white;
        }

        .icons-info {
            margin: 3em 5em 2em 5em;
            display: flex;
            justify-content: space-between;
            
            .content-1,
            .content-2,
            .content-3 {
                flex: 1 1 100%;
            }

            i {
                font-size: 50px;
                padding-bottom: 0.2em;
            }

            h4 {
                padding-bottom: 1em;
            }

            ul {
                padding-left: 4.5em;
                text-align: left;
            }

            .icon-first { color: rgb(116, 116, 241); }
            .icon-second { color: rgb(227, 230, 52); }
            .icon-third { color: rgb(247, 8, 40); }
        }
    }

}


/* About END */

/* Why us START */

.content-text .content-why {
    
    section {
        margin: 1em 8em 3em 8em;
        p {
            padding-top: 1em;
        }
    }

    .pic {
        display: block;
        float: right;
        padding-left: 2em;
        
        img {
            width: 300px;
            height: auto;
            margin-top: 1em;
            padding: 0.3em;
            background-color: white;
            box-shadow: 0 0 10px 0;
            border: 1px solid black;
        }
    }
}
/* Why us END */