body {
    background: rgb(240, 240, 240);
}

/* The site HEADER layout start */
.site-header { 
    background-image: url('../ImagesForTheProject/yac.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20%;
    max-width: 55em;
    margin: 0 auto;
    background-color: rgba(2, 2, 2, 0.8);
    padding: 1em 2em;
    .site-branding {
        position: relative;
        h1 {
            a {
                text-decoration: none;
                color: rgb(241, 76, 76);
                font-family: 'Gabriela', serif;
            }
        }
        .brand {
            position: absolute;
            top: -4px;
            left: 8px;
            font-size: 12px;
            color: rgb(240, 240, 240);
            text-transform: uppercase;
        }
    }
}


/* The site HEADER layout end */





/* The every page-header-bar start */
.page-header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 10vh;
    background-color: rgb(49, 49, 49);
    h2 {
        animation: headPage 2s 1s forwards;
        white-space: nowrap;
        opacity: 0;
        i {
            margin-left: 0.5em;
            color: rgb(250, 62, 62);   
        }
    }
}


@keyframes headPage {
    0%   { opacity: 0; margin-right: 100vw; }
    10%  { opacity: 0; }
    100% { opacity: 1; }
}
/* page-header-bar end */





/* The site FOOTER start */
.site-footer {
    background-color: rgb(197, 195, 195);
    color: rgb(88, 87, 87);
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 2em 12em;
    section {
        flex: 1 1 100%;
        .title {
            margin: 0.5em 0;
        }
        ul li {
            list-style: none;
        }
    }

    .fast-links ul a {
        text-decoration: none;
        color: rgb(71, 70, 70);
        &:hover {
            color: royalblue;
        }
    }

    .work-time {
        margin-right: 0.8em;
        ul li:nth-child(2) { width: 8.5em; text-align: right; }
    }

    .contact-section {
        li {
            margin-bottom: 0.5em;
            i {
                width: 25px;
                margin-right: 0.2em;
                color: rgb(216, 47, 47);
            }
        }    
    }
}

.footer-end {
    text-align: center;
    padding: 2em 0;
    margin: 0 10em;
    border-top: 2px solid rgb(117, 117, 117);
    p span {
        color: rgb(236, 72, 72);
        font-family: sans-serif;
    }
}

/* The site FOOTER end */