@media screen and (max-width: 1205px) {
    /* Services START */

    .services-wrap {
        padding: 0 3em;
    }

    .service-buttons .fir-t,
    .service-buttons .sec-t {
        grid-template-columns: 1fr 1fr;
    }
    /* Services END*/
}

@media screen and (max-width: 1000px) {
    /* Services START */
    .description-info .card .card-text {
        display: flex;
        flex-wrap: wrap;
        padding: 1em 1.5em;
        li {
            flex: 1 1 49%;
        }
    }
    /* Services END*/
}

@media screen and (max-width: 800px) {
    /* Services START */
    .description-info .card .card-text li{
        flex: 1 1 100%;
    }
    /* Services END*/
}

@media screen and (max-width: 670px) {
    /* Services START */
    .services-wrap {
        padding: 0 2em;
    }
    /* Services END*/
}

@media screen and (max-width: 590px) {
    /* Services START */
    .service-buttons .fir-t,
    .service-buttons .sec-t {
        grid-template-columns: 1fr;
    }
    /* Services END*/

    /* Request-Form START*/
    .form-wrapper {
        padding: 0;
        .contact-form {
            border-radius: 0;
            .required-info .about-subject {
                margin: 20px 10px;
            }
        }
    }
    /* Request-Form END*/

}
