
@media screen and (max-width: 1205px) { 
    /* footer START */
    .footer-main {
        padding: 2em 6em;
    
        .contact-section {
            li {
                margin-bottom: 0;
            }    
        }
    }
    
    .footer-end {
        margin: 0 5em;
    }
    /* footer END */
}



@media screen and (max-width: 902px) {

    /* Navigation START*/

    .site-header { 
        height: 500px;
    }

    .nav { 
        position: absolute;
        top: 100px; left: 0; right: 0;
        ul {
            display: none;
        }
        li {
            text-align: center;
            padding: 20px;
        }
    }

    .site-nav-label {
        display: block;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    .site-nav-checkbox:checked + .site-header .site-nav-label .open { display: none; }
    .site-nav-checkbox:checked + .site-header .site-nav-label .close { display: block; }

    .site-nav-checkbox + .site-header .site-nav-label .open { display: block; }
    .site-nav-checkbox + .site-header .site-nav-label .close { display: none; }

    .site-nav-checkbox:checked + .site-header .nav ul{
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        li {
            margin: 0;
        }
    }

    .page-header-bar {
        height: 0;
        padding: 2em;
        font-size: 14px;
    }
    /* Navigation END */



    /* Home-page START */

    .content-about .icons-info {
        .content-1 ul,
        .content-2 ul,
        .content-3 ul {
            padding-left: 3em;
        }
    }

    .content-text .content-why {
    
        section {
            margin: 0;
        }
    
        .pic {
            float: none;
            padding-left: 0;
        }
    }

    /* Home-page END */

}


@media screen and (max-width: 790px) {
    /* Footer START */
    .footer-main {
        flex-wrap: wrap;
        padding: 2em 5em;
        .fast-links {
            flex: 1 1 48%;
            margin-left: 2em;
        }

        .work-time {
            flex: 1 1 20%;
        }

        .contact-section {
            flex: 1 1 100%;
            margin: 2em 0 0 2em;
        }
    }

    /* Footer END */

    /* Home-page START */

    .content-text .content-about .icons-info {
        margin: 2em 0;
    }

    /* Home-page END */
}

@media screen and (max-width: 680px) { 
    /* Footer START */
    .footer-main {
        padding: 2em 2em;
    }

    .footer-end {
        margin: 0 2em;
    }

    /* Footer END */
}

@media screen and (max-width: 578px) {
    /* Home-page START */

    .content-text .content-head {
        img {
            width: 400px;
        }
    }

    .content-about .icons-info {
        flex-wrap: wrap;
        .content-1,
        .content-2,
        .content-3 {
            ul {
                padding: 0 5em 3em 9em;
            }
        }
    }

    /* Home-page END */
} 

@media screen and (max-width: 464px) { 
    /* Footer START */
    .footer-main {
        padding: 2em 1em;
        .fast-links {
            flex: 1 1 40%;
            margin-left: 20px;
        }

        .work-time {
            flex: 1 1 40%;
            margin-right: 0;
        }

        .contact-section {
            flex: 1 1 100%;
            margin: 1em 0 0 20px;
        }
    }
    .footer-end {
        margin: 0 0.5em;
    }
     /* Footer END */    

     /* Home-page START */

     .content-text .content-head {
        img {
            width: 330px;
        }
    }

    .content-about .icons-info {
        .content-1,
        .content-2,
        .content-3 {
            ul {
                padding: 0 5em 3em 7em;
            }
        }
    }

    /* Home-page END */
}

@media screen and (max-width: 386px) {
    /* Home-page START */
    .content-text .content-head {
        img {
            width: 300px;
        }
    }
    .site-main {
        overflow: hidden;
    }
    .content-about .icons-info {
        .content-1,
        .content-2,
        .content-3 {
            ul {
                padding: 0 5em 3em 5em;
            }
        }
    }
    /* Home-page END */
}