.form-wrapper {
    padding: 5em 0 4em 0;
    background: url(../ImagesForTheProject/html-color-codes-color-tutorials-903ea3cb.jpg) no-repeat top center;
    background-size: cover;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
    transition: 5000s ease-in-out 0s;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0,0,0,0.7);
    padding: 30px;
    border-radius: 5px;

    .required-info {
        margin-right: 4%;
        
        input {
            margin: 10px 0;
            background: transparent;
            border: 0;
            border-bottom: 2px solid rgb(228, 61, 61);
            padding: 10px;
            outline: none;
            color: white;
            
        }

        .about-subject {
            margin: 20px 10px 0 10px;
            display: flex;
            justify-content: space-between;
            label {
                color: white;
            }

            select {
                background: transparent;
                border-color: rgb(103, 183, 236);
                color: rgb(103, 183, 236);
            }
        }
    }

    ::placeholder {
        color: rgb(228, 61, 61);
    }

    textarea {
        background: transparent;
        border: 0;
        border-bottom: 2px solid rgb(228, 61, 61);
        padding: 10px;
        height: 197px;
        outline: none;
        color: white;
    }

    .required-info,
    .text-area {
        display: flex;
        flex: 1 1 48%;
        flex-direction: column;
    }

    .submit {
        margin-top: 20px;
        background:  rgb(228, 61, 61);
        border: 0;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        width: 100%;
    }
}

blockquote {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}