$page-card-buttons-color: #da2727;


.services-page h2 span {
    color: rgb(250, 62, 62);
}

.service-buttons {
    margin-bottom: 10em;
}

.service-buttons .fir-t,
.service-buttons .sec-t {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
    max-width: 60em;
    margin: 3em auto;

    .button {
        padding: 1em;
        display: inline-block;
        background: black;
        color: white; 
        transition: all .3s ease-in;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        &:hover { 
            transform: scale(1.1);
            background: $page-card-buttons-color;
        }
    }
}

.description-info {
    max-width: 60em;
    margin: 0 auto;
    .card {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 0;
        margin-bottom: 3em;
        h2 {
            padding: 1em;
            background-color: $page-card-buttons-color;
            color: rgb(253, 249, 249);
            border-bottom-right-radius: 80px;
        }
        .card-text {
            padding: 1em 4em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                font-size: 19px;
                text-transform: lowercase;
                list-style: none;
                &::before {
                    content: '\f0ad';
                    font-family: FontAwesome;
                    color: #000;
                    font-size: 20px;
                    padding-right: 0.7em;
                }
            }
        }

    }
}