html {
    font-size: var(--font-size, 18px);
    line-height: var(--font-line-height, 1.5);
    font-family: var(--font-family-main, 'Verdana, sans-serif');
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid #000;
    font-family: Georgia, serif;
    margin-bottom: 1.5em;
}

blockquote p {
    font-style: italic;
}



.page-header-bar h2 {
    font-family: sans-serif;
}